:root {
    --blue-color: #0015ff;
}

*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #31c4f8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

.wrapper {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 7px;
    list-style: none;
}
nav ul li a {
  font-weight: bold;
  font-size: 59px;
  color: #ffffff;
  text-decoration: none;
}
.side-navigation{
    font-weight: bold;
    gap: 20px;
    list-style:none;
    color:aqua;
    bottom: 40px;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#flot {
    position: relative; 
    top: 5vh;
    height: 100vh; 
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveCloud {
    0%, 100% {
       transform: translateX(0); 
    }
    50% {
       transform: translateX(50px); 
     }
}
@keyframes moveDuck {
     0% {
        left: -100px; 
    }
    100% {
    left: 100%; 
    }
 }
    

.oc {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 90vw;
     position: absolute; 
    left: 10px; 
    bottom: -230px;
    max-width: 65%; 
    height: auto;
}
.protfolio {
    position: relative; 
 
}
.phone {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 30vw;
    animation: spin 1s linear infinite;
    max-width: 10%; 
    position: absolute; 
    top: 10px;
    right: 10px; 
}



.moon {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 30vw;
    cursor: pointer;
    max-width: 8%;
    position: absolute; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    max-width: 30%; 
    height: auto;
    transform: translateX(-50%);  
}
.moon2 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 10vw;
    cursor: pointer;
    max-width: 8%;
    position: absolute; 
    top: 20px; 
    left: 40%; 
    transform: translateX(-50%); 
    max-width: 30%; 
    height: auto;
    transform: translateX(-50%);  
}
.yellowmoon {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 10vw;
    cursor: pointer;
    max-width: 8%;
    position: absolute; 
    top: 20px; 
    left: 40%; 
    transform: translateX(-50%); 
    max-width: 30%; 
    height: auto;
    transform: translateX(-50%);  
}
.cloud1 {
    position: absolute;
    bottom: 10px;
    right: 70% ;
    left: 50%;
   top: 50%;
   width: 1588.94px; 
   height: 149px; 
   margin-left: -794.47px; 
   margin-top: -74.5px;
   animation: moveCloud 10s linear infinite;
   animation-duration: 8s;

}
.cloud2 {
     position: absolute;
    left: 50%;
   top: 90%;
   width: 1588.94px; 
   height: 149px; 
   margin-left: -794.47px; 
   margin-top: -74.5px;
   z-index: 302;
   animation: moveCloud 10s linear infinite;
   animation-duration: 6s;
}


.duck {
    max-width: 20%; 
    height: auto;
    animation: moveDuck 2s forwards;
    display: none;
  
}


.section2 {
    overflow: hidden; 
    position: relative;
}

.portfolio {
    text-align: center;
}
  .portfolio-box {
 background-color: rgba(255, 255, 255, 0.137); 
            border: 1px solid #ccc; /* Box border */
            border-radius: 5px; /* Rounded corners */
            padding: 20px; /* Padding inside the box */
            width: 100%; /* Set width to 80% of the container */
            height: 500px;
            max-width: 1800px; /* Optional: Set a maximum width */
            margin: 20px auto; /* Center the box */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
.side-navigation {
    position: absolute;
    right: 8%;
    top: 65%;
    transform: translateY(-50%);
}

.side-navigation ul {
    list-style: none;
    padding: 0;
}

.side-navigation ul li {
    margin: 10px 0;
}

